<img src="https://dl.dropbox.com/u/7020515/MaderaPawn/expresscashlogo.png">
<p>Hello Suzy,
  <br>
  This is contact information sent from your website www.maderapawn.com</p>
<table>
  <tr>
    <td>Subject:</td>
    <td><h3><%= @options[:subject] %></h3></td>
  </tr>

  <tr>
    <td>Name:</td>
    <td><%= @options[:name] %></td>
  </tr>
<tr>
    <td>Email:</td>
    <td><%= @options[:email]%></td>
  </tr>
<tr>
    <td>Phone Number:</td>
    <td><a href="tel:<%=@raw_phone_number%>"><%= @options[:phone]%></a></td>
  </tr>
<tr>
    <td>Message:</td>
    <td><%= @options[:body]%></td>
  </tr>
</table>

<p>
-Express Cash <small>and</small> Loan<small>, Inc.</small><br>
@MaderaPawn
