  <!-- start: Footer -->
  <div id="footer">

    <!-- start: Container -->
    <div class="container">

      <!-- start: Row -->
      <div class="row">

        <!-- start: About -->
        <div class="span3">

          <h3>Express Cash and Loan, Inc.</h3>

          <p>
            <i class="mini-ico-map-marker mini-white"></i> 329 South C Street
          </p>
          <p>
            <i class="mini-ico-map-marker mini-white"></i> Madera, California 93638
          </p>
          <p>
            <i class="mini-ico-map-marker mini-white"></i> <a href="https://maps.google.com/maps?q=Express+Cash+%26+Loan&hl=en&cid=16748551119175841331&gl=US&t=m&z=16&iwloc=A">Google Maps</a>
          </p>
          <p>
            <i class="ico-z-iphone"></i> Phone: (559) 661-7296
          </p>
          <p>
            <i class="ico-z-iphone"></i> Fax: (559) 673-1775
          </p>
          <p>
            <i class="mini-ico-envelope mini-white"></i> Email: Suzy@maderapawn.com
          </p>
          <p>
            <i class="mini-ico-globe mini-white"></i> Web: <%= link_to "maderapawn.com", root_path %>
          </p>

        </div>
        <!-- end: About -->
        <!-- start: Maps -->
<!--         <div class="span9">
          <h3>Location</h3>

          <div class="video-container">
          <iframe width="900" height="228" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
          </div>
        </div>
 -->        <!-- end: Maps -->

        <!-- start: Latest Tweets -->
        <div class="span6">

          <h3>Latest Tweets <%= link_to "@MaderaPawn", "https://twitter.com/MaderaPawn" %></h3>

          <ul id="twitter">

          </ul>

          <div class="clear"></div>


        </div>
        <!-- end: Latest Tweets -->

        <!-- start: Photo Stream
        <div class="span3">

          <h3>Flickr Photo Stream</h3>
          <div class="flickr-widget">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=user&user=29609591@N08"></script>
            <div class="clear"></div>
          </div>

        </div>
         end: Photo Stream -->

        <!-- start: Follow Us -->
        <div class="span3">

<img src="https://dl.dropbox.com/u/7020515/MaderaPawn/logos.png">
        </div>
        <!-- end: Follow Us -->

      </div>
      <!-- end: Row -->

    </div>
    <!-- end: Container  -->

  </div>
  <!-- end: Footer -->

  <!-- start: Footer Menu -->
  <div id="footer-menu" class="hidden-tablet hidden-phone">

    <!-- start: Container -->
    <div class="container">

      <!-- start: Row -->
      <div class="row">

        <!-- start: Footer Menu Logo -->
        <div class="span2">
          <div id="footer-menu-logo">
            <a class="brand" href="#">Site Map</a>
          </div>
        </div>
        <!-- end: Footer Menu Logo -->

        <!-- start: Footer Menu Links-->
        <div class="span9">

          <div id="footer-menu-links">

            <ul id="footer-nav">

              <li><%= link_to "Home", root_path%></li>

              <li><%= link_to "About", about_path%></li>

              <li><%= link_to "Services", services_path%></li>

              <li><%= link_to "FAQ", faq_path%></li>

              <li><%= link_to "Contact", contact_path%></li>

            </ul>

          </div>

        </div>
        <!-- end: Footer Menu Links-->

        <!-- start: Footer Menu Back To Top -->
        <div class="span1">

          <div id="footer-menu-back-to-top">
            <a href="#"></a>
          </div>

        </div>
        <!-- end: Footer Menu Back To Top -->

      </div>
      <!-- end: Row -->

    </div>
    <!-- end: Container  -->

  </div>
  <!-- end: Footer Menu -->

  <!-- start: Copyright -->
  <div id="copyright">

    <!-- start: Container -->
    <div class="container">

      <div class="sixteen columns">
        <p>
          &copy; 2013, <a href="http://www.maderapawn.com/">Express Cash and Loan, Inc. </a> Designed/Developed by <a href="http://gdi2290.com/">gdi2290</a> from <a href="http://santacruzonrails.com/">Santa Cruz On Rails</a> in California
        </p>
      </div>

    </div>
    <!-- end: Container  -->

  </div>
  <!-- end: Copyright -->
