<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=287480211378969";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <!-- start: Footer -->
  <div id="footer">

    <!-- start: Container -->
    <div class="container">

      <!-- start: Row -->
      <div class="row">

        <!-- start: About -->
        <div class="span3">

          <h3>Express Cash <small>and</small> Loan<small>, Inc.</small></h3>

          <p>
            <i class="mini-ico-map-marker mini-white"></i> <a href="http://goo.gl/maps/KogMt" el="tooltip" title="Find in Google Maps" target="_blank">329 South C Street
          </p>
          <p>
            <i class="mini-ico-map-marker mini-white"></i> Madera, California 93638
          </p>
          <p>
            <i class="mini-ico-map-marker mini-white"></i> Google Maps</a>
          </p>
          <p>
            <i class="ico-z-iphone"></i> Phone: <a href="tel:5596617296">(559) 661-7296</a>
          </p>
          <p>
            <i class="ico-z-iphone"></i> Fax: (559) 673-1775
          </p>
          <p>
            <i class="mini-ico-envelope mini-white"></i> Email: <a href="mailto:suzy@maderapawn.com?subject=Questions about Express Cash&body=I have a question about ">Suzy@maderapawn.com</a>
          </p>
          <p>
            <i class="mini-ico-globe mini-white"></i> Web: <%= link_to "www.maderapawn.com", root_path %>
          </p>
        </div>
        <!-- end: About -->
        <!-- start: Maps -->
<!--         <div class="span9">
          <h3>Location</h3>

          <div class="video-container">
          <iframe width="900" height="228" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
          </div>
        </div>
 -->        <!-- end: Maps -->

        <!-- start: Latest Tweets -->
        <div class="span6">
          <h3><%= link_to "Latest Tweets", "https://twitter.com/MaderaPawn" %> <a href="https://twitter.com/MaderaPawn" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @MaderaPawn</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></h3>

          <ul id="twitter">

          </ul>
          <div class="clear"></div>

          <p>
          Department of Justice - Pawnbrokers License #20020993<br>
          Department of Corporations - Deferred Deposit License #100-0652<br>
          ATF Federal Firearms License #9-77-039-02-4K-00486
        </div>
        <!-- start: Find us on -->
        <div class="span3">
          <h3>Find us on  <div class="fb-like" data-href="https://www.facebook.com/MaderaPawn" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div></h3>

          <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/logos.png" usemap="#ebaygunbroker">
          <map name="ebaygunbroker">
          <area shape="rect" coords="0,0,256,100" href="http://myworld.ebay.com/expresscash/" alt="eBay" target="_blank">
          <area shape="rect" coords="0,100,256,220" href="http://www.gunbroker.com/All/BI.aspx?IncludeSellers=1812560" alt="gunBroker" target="_blank">
          </map>
        </div>
        <!-- end: Follow Us -->

      </div>
      <!-- end: Row -->

    </div>
    <!-- end: Container  -->

  </div>
  <!-- end: Footer -->

  <!-- start: Footer Menu -->
  <div id="footer-menu" class="hidden-tablet hidden-phone">

    <!-- start: Container -->
    <div class="container">

      <!-- start: Row -->
      <div class="row">

        <!-- start: Footer Menu Logo -->
        <div class="span2">
          <div id="footer-menu-logo">
            <%= link_to "Site Map", sitemap_path, :class => 'brand'%>
          </div>
        </div>
        <!-- end: Footer Menu Logo -->

        <!-- start: Footer Menu Links-->
        <div class="span9">

          <div id="footer-menu-links">

            <ul id="footer-nav">

              <li><%= link_to "Home", root_path%></li>

              <li><%= link_to "About", about_path%></li>

              <li><%= link_to "Services", services_path%></li>

              <li><%= link_to "FAQ", faq_path%></li>

              <li><%= link_to "Contact", contact_path%></li>

            </ul>

          </div>

        </div>
        <!-- end: Footer Menu Links-->

        <!-- start: Footer Menu Back To Top -->
        <div class="span1">

          <div id="footer-menu-back-to-top">
            <a href="#"></a>
          </div>

        </div>
        <!-- end: Footer Menu Back To Top -->

      </div>
      <!-- end: Row -->

    </div>
    <!-- end: Container  -->

  </div>
  <!-- end: Footer Menu -->

  <!-- start: Copyright -->
  <div id="copyright">

    <!-- start: Container -->
    <div class="container">

      <div class="sixteen columns">
        <p>
          &copy; 2013, <a href="http://www.maderapawn.com/">Express Cash and Loan, Inc. </a> Designed and Developed by <a href="http://gdi2290.com/">gdi2290</a> from <a href="http://santacruzonrails.com/">Santa Cruz On Rails</a> in California
        </p>
      </div>

    </div>
    <!-- end: Container  -->

  </div>
  <!-- end: Copyright -->
